<!DOCTYPE html>
<html class="indexlog" lang="es">
    <head>
        <title>Servicio Posgrados | UVM</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!--Vista de compatibilidad IE8 -->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
       <!-- <link rel="stylesheet" href="CSS/estilo_lista1.css"> -->
       <link rel="stylesheet" href="CSS/estilo_lista1.css"  type="text/css">
        <link rel="icon" href="img/LOGOUVM.ico"> <!-- no quedar (cambiar a original) -->
    </head>
    <body class="fondoInicio"></body>
        <img src="img/uvm-logo.png" id="uvmlogo">
        <form method="POST" action="../Controllers/login.php" class="form__edit" id="formlg">
            <h2 id="h2__edit">Iniciar Sesión</h2>
            <input class="inpt_edit" type="text" pattern="[A-Za-z0-9_-]{1,15}" required placeholder="&#128272; Usuario" name="user">
            <input class="inpt_edit" type="password" pattern="[A-Za-z0-9_-]{1,20}" required placeholder="&#128273; Contraseña" name="contra">
            <input class="inpt_boton" type="submit" name="action" value="Login">
        </form>
    </body>
</html>
  <!-- SELECT PTMGEC33F15.idprograma, PTMGEC33F15.cuenta, PTMGEC33F15.nombre, PTMGEC33F15.Herramientas_Analíticas, PTMGEC33F15.Estadística_Descriptiva_Inferencial,PTMGEC33F15.Dirección_Sistemas_Productividad,	
PTMGEC33F15.Logística_Estratégica,	PTMGEC33F15.Administración_Estratégica_Calidad,	PTMGEC33F15.Administración_Sistemas_Calidad, PTMGEC33F15.Administración_Total_Calidad,	
PTMGEC33F15.Diseño_Experimentos_Calidad, PTMGEC33F15.Control_Estadístico_Procesos_Manufactura_Servicios, PTMGEC33F15.Investigación_Operaciones,	PTMGEC33F15.Métodos_Calidad_Enfoque_Cliente, PTMGEC33F15.Desarrollo_Comportamiento_Organizacional,	PTMGEC33F15.Sistema_Costos_Calidad,
PTMGEC33F15.Normatividad, alumno.correo FROM PTMGEC33F15 INNER JOIN alumno on PTMGEC33F15.idprograma=alumno.idprograma; -->

<!--ps  n us DrVictorUVMPG-->

<!-- SELECT idprograma, cuenta, nombre,Herramientas_Analíticas, Estadística_Descriptiva_Inferencial,	Dirección_Sistemas_Productividad,	
Logística_Estratégica,	Administración_Estratégica_Calidad,	Administración_Sistemas_Calidad,	Administración_Total_Calidad,	
Diseño_Experimentos_Calidad, Control_Estadístico_Procesos_Manufactura_Servicios, Investigación_Operaciones,	
Métodos_Calidad_Enfoque_Cliente, Desarrollo_Comportamiento_Organizacional,	Sistema_Costos_Calidad,
Normatividad, correo FROM PTMGEC33F15 INNER JOIN alumno on PTMGEC33F15.idprograma= alumno.idprograma; -->
